@mixin media-sm {
  @media (min-width: #{map-get($grid-breakpoints, 'sm')}) {
    @content;
  }
}

@mixin media-md {
  @media (min-width: #{map-get($grid-breakpoints, 'md')}) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: #{map-get($grid-breakpoints, 'lg')}) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: #{map-get($grid-breakpoints, 'xl')}) {
    @content;
  }
}

@mixin media-max {
  @media (min-width: #{map-get($grid-breakpoints, 'max')}) {
    @content;
  }
}
