/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('~@/assets/fonts/open-sans-v16-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('~@/assets/fonts/open-sans-v16-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('~@/assets/fonts/open-sans-v16-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~@/assets/fonts/open-sans-v16-latin_cyrillic-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('~@/assets/fonts/open-sans-v16-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~@/assets/fonts/open-sans-v16-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('~@/assets/fonts/open-sans-v16-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~@/assets/fonts/open-sans-v16-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('~@/assets/fonts/open-sans-v16-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('~@/assets/fonts/open-sans-v16-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('~@/assets/fonts/open-sans-v16-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~@/assets/fonts/open-sans-v16-latin_cyrillic-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-800 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('~@/assets/fonts/open-sans-v16-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('~@/assets/fonts/open-sans-v16-latin_cyrillic-800.woff') format('woff'), /* Modern Browsers */
       url('~@/assets/fonts/open-sans-v16-latin_cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~@/assets/fonts/open-sans-v16-latin_cyrillic-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

$font-family-sans-serif: 'Open Sans', sans-serif;

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
