$body-bg: #EEEEEE;
$body-color: #333333;

@import '@/css/colors.scss';

@import '@/css/fonts.scss';

@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-vue/src/index.scss';

@import '@/css/buttons.scss';

.modal {
  color: black;
}

.c-pointer {
  cursor: pointer;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}
