$body-bg: rgb(236, 240, 241);
$body-color: #333333;

@import './normalize';
@import './fonts';

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

html, body, main {
  margin: 0;
  height: 100%;
  min-width: 320px;
  touch-action: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fade-enter-active {
  transition: opacity .8s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}


.close-button {
  background: none;
  border: none;
  outline: none;
  color: black;
  font-size: 1.3em;

  &:hover {
    opacity: 0.8;
  }
}

.loading-section, .error-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loading-spinner {
  color: map-get($colors, 'green');
  height: 3em;
  width: 3em;
}
